.Todolist {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    font-family: sans-serif;

}

.title {
    color: rgb(253, 163, 45);
    font-weight: lighter;
    font-size: 60px;
    margin: 10px 0;
}

.wrapper {
    width: 450px;
    // border-radius: 5px;
    // box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.5);
}

.LoaderSm {
    position: absolute;
    top: 20px;
}